@import "@folio/stripes-components/lib/variables.css";

.holdingsHover {
  padding-top: 6px;
  border-radius: var(--radius);

  &:hover {
    cursor: pointer;
    background-color: #ececec;
  }
}

.indent {
  padding: 0 0 0 12px;
}

[dir="rtl"] {
  .indent {
    padding: 0 12px 0 0;
  }
}